{% extends "estoque/base.html" %}

{% block content %}

<h1>Produtos</h1>

<p>
    <a href="{% url 'novo_produto' %}">
        Cadastrar novo produto
    </a>
</p>

<form method="get">

    <input
        type="text"
        name="q"
        value="{{ termo }}"
        placeholder="Pesquisar por nome, código, tipo ou documento..."
    >

    <button type="submit">
        Pesquisar
    </button>

    {% if termo %}
        <a href="{% url 'produtos' %}">
            Limpar pesquisa
        </a>
    {% endif %}

</form>

<hr>

<table>

    <thead>
        <tr>
            <th>Produto</th>
            <th>Código</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Condição</th>
            <th>Estoque</th>
            <th>Mínimo</th>
            <th>Status</th>
            <th>Documento</th>
        </tr>
    </thead>

    <tbody>

        {% for produto in produtos %}

        <tr>

            <td>
                {{ produto.nome }}
            </td>

            <td>
                {{ produto.codigo }}
            </td>

            <td>
                {{ produto.tipo_produto }}
            </td>

            <td>
                {{ produto.categoria.nome }}
            </td>

            <td>
                {{ produto.get_condicao_display }}
            </td>

            <td>
                {{ produto.estoque_atual }}
                {{ produto.unidade }}
            </td>

            <td>
                {{ produto.estoque_minimo }}
            </td>

            <td>

                {% if not produto.ativo %}

                    Inativo

                {% elif produto.estoque_atual <= produto.estoque_minimo %}

                    Estoque baixo

                {% else %}

                    Ativo

                {% endif %}

            </td>

            <td>
                {{ produto.documento_origem }}
            </td>

        </tr>

        {% empty %}

        <tr>
            <td colspan="9">
                Nenhum produto encontrado.
            </td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}

